@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.corpo-navbar{
    background: #F0F0F0;
    min-height: 200vh;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 4;
}

.sticky{
    z-index: 4;
    padding: 5px 100px;
    background-color: #000;
}

.logo{
    position: relative;
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

.lista-navbar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-navbar{
    position: relative;
    list-style: none;
}

.ancora-navbar{
    position: relative;
    margin: 0px 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}

.sticky .logo,
.sticky ul li a
{
    color: #FFF;
}

