<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8f40e062f4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/footer.css">
</head>
<body>
    <footer>
        <div class="footer-content">
            <h3 class="title-footer">Concessionaria</h3>
            <p class="about-footer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt pariatur molestiae est maiores illum.</p>
            <ul class="socials">
                <li class="icon-footer"><a href="#" class="ancora-footer"><i class="fa fa-facebook"></i></a></li>
                <li class="icon-footer"><a href="#" class="ancora-footer"><i class="fa fa-twitter"></i></a></li>
                <li class="icon-footer"><a href="#" class="ancora-footer"><i class="fa fa-instagram"></i></a></li>
                <li class="icon-footer"><a href="#" class="ancora-footer"><i class="fa fa-youtube"></i></a></li>
                <li class="icon-footer"><a href="#" class="ancora-footer"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p class="footer-bottom-p">Copyright &copy;2022 Concessionaria. Designed by <span class="footer-designer">Gabriel Nunes</span></p>
        </div>
    </footer>
</body>
</html>