<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="stylesheets/nav-bar.css">
</head>
<body class="corpo-navbar">
    <nav>
        <a href="# " class="logo">Logo</a>
        <ul class="lista-navbar">
            <li class="item-navbar"><a href="#" class="ancora-navbar">Home</a></li>
            <li class="item-navbar"><a href="#" class="ancora-navbar">Carros</a></li>
            <li class="item-navbar"><a href="#" class="ancora-navbar">Motos</a></li>
            <li class="item-navbar"><a href="#" class="ancora-navbar">Login</a></li>
        </ul>
    </nav>
    <section class="banner"></section>
    <script type="text/javascript">
        window.addEventListener("scroll", function(){
            var nav = document.querySelector("nav");
            nav.classList.toggle("sticky", window.scrollY > 0);
        })
    </script>
</body>
</html>