<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="stylesheets/inicial.css">
  <link rel="stylesheet" href="stylesheets/lightslider.css">
  <script type="text/javascript" src="JavaScript/jquery.js"></script>
  <script type="text/javascript" src="JavaScript/lightslider.js"></script>
</head>
    <body> 

        <%- include("./partiels/nav-bar.ejs")%>

        <header class="header-inicial">
            <div class="box-anuncio">
                <h1 class="title-inicial">Compre seu veículo pelo melhor preço</h1>
                <p class="box-convite">A gente faz de tudo pra descomplicar sua compra e chegar o mais próximo do preço que você deseja para <strong>adquirir seu automóvel dos sonhos</strong>. Conte com a gente!<p>
                
                <button class="botao-comprar">Compre Já!</button>
                <input type="checkbox" id="scales" name="scales">
                <label for="scales" class="label-check">Quero receber descontos, ofertas e informações.</label>
            </div>
            <img src="https://production.autoforce.com/uploads/version/profile_image/8017/comprar-trekking-1-3_8de196c88f.png" alt="Retrato de um Fiat Argo" class="banner-argo">
        </header>
        
        <section class="slider">
            <ul id="autoWidth" class="cs-hidden">
                
                <li class="item-a">
                    <div class="box-slide">
                        <div class="slide-img">
                            <img src="images/slide-home-page/Sentra-Front.jpg" class="slide-img-front" alt="">
                            <div class="overlay-slide">
                                <a href="#" class="buy-btn-slide">Compre Já!</a>
                            </div>
                        </div>
            
                        <div class="detail-box">
                            <div class="type-slide">
                                <a href="#" class="ancora-slide">Nissan Sentra</a>
                                <span class="span-slide">Modelo 2022</span>
                            </div>
                            <a href="#" class="price-slide">$19,510</a>
                        </div>
                    </div>
                </li>
                <li class="item-a">
                    <div class="box-slide">
                        <div class="slide-img">
                            <img src="images/slide-home-page/Sentra-Front.jpg" class="slide-img-front" alt="">
                            <div class="overlay-slide">
                                <a href="#" class="buy-btn-slide">Compre Já!</a>
                            </div>
                        </div>
            
                        <div class="detail-box">
                            <div class="type-slide">
                                <a href="#" class="ancora-slide">Nissan Sentra</a>
                                <span class="span-slide">Modelo 2022</span>
                            </div>
                            <a href="#" class="price-slide">$19,510</a>
                        </div>
                    </div>
                </li>
                <li class="item-a">
                    <div class="box-slide">
                        <div class="slide-img">
                            <img src="images/slide-home-page/Sentra-Front.jpg" class="slide-img-front" alt="">
                            <div class="overlay-slide">
                                <a href="#" class="buy-btn-slide">Compre Já!</a>
                            </div>
                        </div>
            
                        <div class="detail-box">
                            <div class="type-slide">
                                <a href="#" class="ancora-slide">Nissan Sentra</a>
                                <span class="span-slide">Modelo 2022</span>
                            </div>
                            <a href="#" class="price-slide">$19,510</a>
                        </div>
                    </div>
                </li>
                <li class="item-a">
                    <div class="box-slide">
                        <div class="slide-img">
                            <img src="images/slide-home-page/Sentra-Front.jpg" class="slide-img-front" alt="">
                            <div class="overlay-slide">
                                <a href="#" class="buy-btn-slide">Compre Já!</a>
                            </div>
                        </div>
            
                        <div class="detail-box">
                            <div class="type-slide">
                                <a href="#" class="ancora-slide">Nissan Sentra</a>
                                <span class="span-slide">Modelo 2022</span>
                            </div>
                            <a href="#" class="price-slide">$19,510</a>
                        </div>
                    </div>
                </li>
                <li class="item-a">
                    <div class="box-slide">
                        <div class="slide-img">
                            <img src="images/slide-home-page/Sentra-Front.jpg" class="slide-img-front" alt="">
                            <div class="overlay-slide">
                                <a href="#" class="buy-btn-slide">Compre Já!</a>
                            </div>
                        </div>
            
                        <div class="detail-box">
                            <div class="type-slide">
                                <a href="#" class="ancora-slide">Nissan Sentra</a>
                                <span class="span-slide">Modelo 2022</span>
                            </div>
                            <a href="#" class="price-slide">$19,510</a>
                        </div>
                    </div>
                </li>
                <li class="item-a">
                    <div class="box-slide">
                        <div class="slide-img">
                            <img src="images/slide-home-page/Sentra-Front.jpg" class="slide-img-front" alt="">
                            <div class="overlay-slide">
                                <a href="#" class="buy-btn-slide">Compre Já!</a>
                            </div>
                        </div>
            
                        <div class="detail-box">
                            <div class="type-slide">
                                <a href="#" class="ancora-slide">Nissan Sentra</a>
                                <span class="span-slide">Modelo 2022</span>
                            </div>
                            <a href="#" class="price-slide">$19,510</a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

        <%- include("./partiels/footer.ejs")%>

        <script src="JavaScript/script.js"></script>
    </body>
</html>                     