<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="stylesheets/inicial.css">
  <link rel="stylesheet" href="stylesheets/swiper-bundle.min.css"/>
</head>
    <body> 

        <%- include("./partiels/nav-bar.ejs")%>

        <header class="header-inicial">
            <div class="box-anuncio">
                <h1 class="title-inicial">Compre seu veículo pelo melhor preço</h1>
                <p class="box-convite">A gente faz de tudo pra descomplicar sua compra e chegar o mais próximo do preço que você deseja para <strong>adquirir seu automóvel dos sonhos</strong>. Conte com a gente!<p>
                
                <button class="botao-comprar">Compre Já!</button>
                <input type="checkbox" id="scales" name="scales">
                <label for="scales" class="label-check">Quero receber descontos, ofertas e informações.</label>
            </div>
            <img src="https://production.autoforce.com/uploads/version/profile_image/8017/comprar-trekking-1-3_8de196c88f.png" alt="Retrato de um Fiat Argo" class="banner-argo">
        </header>

        <section class="container-form forms">
            <div class="form login">
                <div class="form-content">
                    <header>Login</header>
                    <form action="#">
                        <div class="field input-field">
                            <input type="email" placeholder="Email" class="input">
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Senha" class="password">
                            <i class='fa-regular fa-eye-slash eye-icon'></i>
                        </div>

                        <div class="form-link">
                            <a href="#" class="forgot-pass">Esqueceu a senha?</a>
                        </div>

                        <div class="field button-field">
                            <button>Login</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Não possui uma conta? <a href="#" class="link signup-link">Cadastre-se</a></span>
                    </div>
                </div>

                <div class="line"></div>

                <div class="media-options">
                    <a href="#" class="field facebook">
                        <i class='fa-brands fa-facebook-f facebook-icon'></i>
                        <span>Login com Facebook</span>
                    </a>
                </div>

                <div class="media-options">
                    <a href="#" class="field google">
                        <img src="images/google.png" alt="" class="google-img">
                        <span>Login com Google</span>
                    </a>
                </div>

            </div>

            <!-- Signup Form -->

            <div class="form signup">
                <div class="form-content">
                    <header>Cadastro</header>
                    <form action="#">
                        <div class="field input-field">
                            <input type="email" placeholder="Email" class="input">
                        </div>
                        
                        <div class="field input-field">
                            <input type="text" placeholder="Nome" class="input">
                        </div>

                        <div class="field input-field">
                            <input type="text" placeholder="Sobrenome" class="input">
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Criar Senha" class="password">
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Confirmar Senha" class="password">
                            <i class='fa-regular fa-eye-slash eye-icon'></i>
                        </div>

                        <div class="field button-field">
                            <button>Cadastre-se</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Já possui uma conta? <a href="#" class="link login-link">Login</a></span>
                    </div>
                </div>

                <div class="line"></div>

                <div class="media-options">
                    <a href="#" class="field facebook">
                        <i class='fa-brands fa-facebook-f facebook-icon'></i>
                        <span>Cadastre-se com Facebook</span>
                    </a>
                </div>

                <div class="media-options">
                    <a href="#" class="field google">
                        <img src="images/google.png" alt="" class="google-img">
                        <span>Cadastre-se com Google</span>
                    </a>
                </div>

            </div>
        </section>

        <h2 class="slider-title">Novidades</h2>
        <p class="slider-title-p">Carros</p>

        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="slide-img">
                            <img src="images/slide-home-page/Sentra-Front.jpg" class="slide-img-front" alt="">
                            <div class="overlay-slide">
                                <a href="#" class="buy-btn-slide">Compre Já!</a>
                            </div>
                        </div>

                        <div class="detail-box">
                            <div class="type-slide">
                                <a href="#" class="ancora-slide">Nissan Sentra</a>
                                <span class="span-slide">Modelo 2022</span>
                            </div>
                            <a href="#" class="price-slide">R$ 122.000</a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="slide-img">
                            <img src="images/slide-home-page/Civic.jpg" class="slide-img-front" alt="">
                            <div class="overlay-slide">
                                <a href="#" class="buy-btn-slide">Compre Já!</a>
                            </div>
                        </div>

                        <div class="detail-box">
                            <div class="type-slide">
                                <a href="#" class="ancora-slide">Honda Civic</a>
                                <span class="span-slide">Modelo 2022</span>
                            </div>
                            <a href="#" class="price-slide">R$ 232.000 </a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="slide-img">
                            <img src="images/slide-home-page/FordRaptor.jfif" class="slide-img-front" alt="">
                            <div class="overlay-slide">
                                <a href="#" class="buy-btn-slide">Compre Já!</a>
                            </div>
                        </div>

                        <div class="detail-box">
                            <div class="type-slide">
                                <a href="#" class="ancora-slide">Ford Raptor</a>
                                <span class="span-slide">Modelo 2022</span>
                            </div>
                            <a href="#" class="price-slide">R$ 570.000</a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="slide-img">
                            <img src="images/slide-home-page/WRX.webp" class="slide-img-front" alt="">
                            <div class="overlay-slide">
                                <a href="#" class="buy-btn-slide">Compre Já!</a>
                            </div>
                        </div>

                        <div class="detail-box">
                            <div class="type-slide">
                                <a href="#" class="ancora-slide">Subaru WRX</a>
                                <span class="span-slide">Modelo 2022</span>
                            </div>
                            <a href="#" class="price-slide">R$ 308.900</a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="slide-img">
                            <img src="images/slide-home-page/C40.jpg" class="slide-img-front" alt="">
                            <div class="overlay-slide">
                                <a href="#" class="buy-btn-slide">Compre Já!</a>
                            </div>
                        </div>

                        <div class="detail-box">
                            <div class="type-slide">
                                <a href="#" class="ancora-slide">Volvo C40</a>
                                <span class="span-slide">Modelo 2022</span>
                            </div>
                            <a href="#" class="price-slide">R$ 419.950</a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="slide-img">
                            <img src="images/slide-home-page/RS6.jpg" class="slide-img-front" alt="">
                            <div class="overlay-slide">
                                <a href="#" class="buy-btn-slide">Compre Já!</a>
                            </div>
                        </div>

                        <div class="detail-box">
                            <div class="type-slide">
                                <a href="#" class="ancora-slide">Audi RS6</a>
                                <span class="span-slide">Modelo 2022</span>
                            </div>
                            <a href="#" class="price-slide">R$ 1.102.009</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="slider-title">Novidades</h2>
        <p class="slider-title-p">Motos</p>

        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="slide-img">
                            <img src="images/slide-home-page/XJ6.webp" class="slide-img-front" alt="">
                            <div class="overlay-slide">
                                <a href="#" class="buy-btn-slide">Compre Já!</a>
                            </div>
                        </div>

                        <div class="detail-box">
                            <div class="type-slide">
                                <a href="#" class="ancora-slide">Yamaha XJ6</a>
                                <span class="span-slide">Modelo 2022</span>
                            </div>
                            <a href="#" class="price-slide">R$ 34.000</a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="slide-img">
                            <img src="images/slide-home-page/CB500X.jpg" class="slide-img-front" alt="">
                            <div class="overlay-slide">
                                <a href="#" class="buy-btn-slide">Compre Já!</a>
                            </div>
                        </div>

                        <div class="detail-box">
                            <div class="type-slide">
                                <a href="#" class="ancora-slide">Honda CB500X</a>
                                <span class="span-slide">Modelo 2023</span>
                            </div>
                            <a href="#" class="price-slide">R$ 41.600</a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="slide-img">
                            <img src="images/slide-home-page/ADV350.jpg" class="slide-img-front" alt="">
                            <div class="overlay-slide">
                                <a href="#" class="buy-btn-slide">Compre Já!</a>
                            </div>
                        </div>

                        <div class="detail-box">
                            <div class="type-slide">
                                <a href="#" class="ancora-slide">Honda ADV350</a>
                                <span class="span-slide">Modelo 2022</span>
                            </div>
                            <a href="#" class="price-slide">R$ 19.530</a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="slide-img">
                            <img src="images/slide-home-page/MT09.jpg" class="slide-img-front" alt="">
                            <div class="overlay-slide">
                                <a href="#" class="buy-btn-slide">Compre Já!</a>
                            </div>
                        </div>

                        <div class="detail-box">
                            <div class="type-slide">
                                <a href="#" class="ancora-slide">Yamaha MT09</a>
                                <span class="span-slide">Modelo 2022</span>
                            </div>
                            <a href="#" class="price-slide">R$ 59.000</a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="slide-img">
                            <img src="images/slide-home-page/R1.webp" class="slide-img-front" alt="">
                            <div class="overlay-slide">
                                <a href="#" class="buy-btn-slide">Compre Já!</a>
                            </div>
                        </div>

                        <div class="detail-box">
                            <div class="type-slide">
                                <a href="#" class="ancora-slide">Yamaha R1</a>
                                <span class="span-slide">Modelo 2022</span>
                            </div>
                            <a href="#" class="price-slide">R$ 52.000</a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="slide-img">
                            <img src="images/slide-home-page/PCX.jpg" class="slide-img-front" alt="">
                            <div class="overlay-slide">
                                <a href="#" class="buy-btn-slide">Compre Já!</a>
                            </div>
                        </div>

                        <div class="detail-box">
                            <div class="type-slide">
                                <a href="#" class="ancora-slide">Honda PCX</a>
                                <span class="span-slide">Modelo 2022</span>
                            </div>
                            <a href="#" class="price-slide">R$ 13.000</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="about-container">
            <h3 class="about-title">Sobre <strong>nós</strong></h3>
            <p class="about-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id sint voluptatem dolore sunt cum rem consectetur debitis tenetur. Architecto, magnam dicta id reiciendis magni aut vel voluptatem qui.</p>
        </section>

        <%- include("./partiels/footer.ejs")%>

        <script src="JavaScript/swiper-bundle.min.js"></script>

        <script src="JavaScript/script.js"></script>

        <!--Script Login-->

        <script src="JavaScript/loginScript.js"></script>
        <script src="JavaScript/showLogin.js"></script>
    </body>
</html>                     